# Python
__pycache__/
*.py[cod]
venv/
.venv/
env/

# Variáveis de ambiente
.env
.env.local

# Jupyter
.ipynb_checkpoints/

# Testes e ferramentas Python
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# IDE
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db