# RabbitMQ
RABBITMQ_URL=amqp://nova:nova_password@localhost:5672/%2F
RABBITMQ_QUEUE_CLASSIFICACAO=fila_frutas_nova
RABBITMQ_QUEUE_PREVISAO=fila_previsao_demanda

# MongoDB
MONGO_URL=mongodb://admin:password@localhost:27017/gestao_projeto?authSource=admin
DATABASE_NAME=gestao_projeto
COLLECTION_CLASSIFICACAO=classificacoes_frutas
COLLECTION_PREVISAO=previsoes_demanda